{% extends "layout.html" %}
{% block content %}
    <h2>Submit A Cart</h2>
    <form action="{{ url_for('submit') }}" method=post>
	<p>
	<span>Name:</span>
	<br><input type=text name=name><br>
	<br><span>Type Of Food:</span>
	<br><input type=text name=foodtype> 
	<p>
	<p class="heading">Enter Address <p>
	<div> 
		<div>
		<span>Street</span>
		<br><input type=text name=street>
		</div>
		<div>
		<span>City</span>
		<br><input type=text name=city>
		</div>
	</div>
	<div> 
		<div>
		<span>State</span>
		<br><input type=text name=state>
		</div>
		<div>
		<span>Zip</span>
		<br><input type=text name=zipcode>
		</div>
	</div>
	<br>
	<span>Hours</span>
	<br><input type=text name=hours>
	<br>
	<span>Phone</span>
	<br><input type=text name=phone>
	<br>
	<span>Rating</span>
	<br><input type=text name=rating>
        <p class="heading">Review
	<textarea rows=5 cols=50 name=review></textarea></p></p>
	<p><input type=submit value=Submit></p>
    </form>
    <form action="{{ url_for('browse') }}">
	<p><input type=submit value='Return to cart list'></p>
    </form>

{% endblock %}
