<!doctype html>
<html>
    <head>
        <title> Homepage </title>
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
    <head>
    <body class="welcome-page">
        <div class="welcome-image"></div>
        <div class="standard-text"> Current Weather 
            <div> {{ forecast.temp }} F</div>
            <div> {{ forecast.conditions }} </div>
            <form action="{{ url_for('todo') }}">
                <button class="todo-button"  type=submit>To-Do List</button>
            </form>
        </div>
    </body>
</html>
