<!doctype html>
<html>
    <title> Homepage </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
    <body class="welcome-page">
        <div class="welcome-image"></div>
        <div class="standard-text"> Current Weather 
            <div> {{ forecast.temp }} &deg;F</div>
            <div> {{ forecast.conditions }} </div>
        </div>
        <form class="todo-button" action="{{ url_for('todo') }}">
            <input type=submit value='To-Do List'>
        </form>
    </body>
</html>
