<!doctype html>
<html>
    <title> To-Do List </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
    <body>
        <h2> To-Do List </h2>
        {% for entry in entries %}
            <div>
                {entry.title}
            </div>
        {% endfor %}
        <form action="{{ url_for('submit') }}" method=post>
            <p> Title: <input type=text name=title> </p>
            <p> Description: <input type=text name=desc> </p>
            <p> Priority: <input type=text name=prio> </p>
            <p> <input type=submit value=Submit> </p>
        </form>
        <form action="{{ url_for('index') }}">
            <input type=submit value='Return'>
        </form>
    </body>
</html>
