<!doctype html>
<html>
    <head>
        <title> To-Do List </title>
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
    <head>
    <body>
        <div class="bg-container">
            <div class="todo-container">

                <h2 class="banner"> To-Do List </h2>
                <div class="form-container">
                {% for entry in entries %}
                <form action="{{ url_for('delete') }}" method=post>
                    <div class="task">
                        <h3>{{ entry.title }}</h3>
                        <p>{{ entry.desc }}</p>
                        <p>{{ entry.prio }}</p>
                        <input type=hidden name=title value="{{ entry.title }}">
                        <input type=hidden name=prio value="{{ entry.prio }}">
                        <input class="comp-btn" type=submit value="Complete">
                    </div>
                </form>
                {% endfor %}

                    <form action="{{ url_for('submit') }}" method=post>
                        <p><input type=text name=title placeholder="Title..."> </p>
                        <p><input type=text name=desc placeholder="Description..."> </p>
                        <p>
                            <select name=prio> 
                                <option value="" selected="selected">Priority</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </p>
                        <p> <input class="form-btn" type=submit value=Submit> </p>
                    </form>
                    <form action="{{ url_for('index') }}">
                        <input class="form-btn" type=submit value='Return'>
                    </form>
                </div>

            </div>
        </div>
    </body>
</html>
